<nav>
  <button (click)="randomizeProjectId()">randomizeProjectId()</button>
  <ul>
    <li
      queryParamsHandling="merge"
      [routerLink]="['/hey-api/basic']"
      routerLinkActive="router-link-active"
    >
      Hey API Basic
    </li>
    <li
      queryParamsHandling="merge"
      [routerLink]="['/hey-api/complex']"
      routerLinkActive="router-link-active"
    >
      Hey API Complex
    </li>
  </ul>
  <ul>
    <li
      queryParamsHandling="merge"
      [routerLink]="['/openapi/basic']"
      routerLinkActive="router-link-active"
    >
      OpenAPI Basic
    </li>
    <li
      queryParamsHandling="merge"
      [routerLink]="['/openapi/complex']"
      routerLinkActive="router-link-active"
    >
      OpenAPI Complex
    </li>
    <li
      queryParamsHandling="merge"
      [routerLink]="['/openapi/extended']"
      routerLinkActive="router-link-active"
    >
      OpenAPI Extended
    </li>
    <li
      queryParamsHandling="merge"
      [routerLink]="['/openapi/future']"
      routerLinkActive="router-link-active"
    >
      OpenAPI Future
    </li>
  </ul>
</nav>

<main>
  <router-outlet />
</main>
